
body{
    
}

.navbar{

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 12px;
    padding-right: 60px;
    box-shadow: 0px 3px 7px #ccc;
    flex-wrap: wrap;
    background-color: white;
    position: fixed;
    top: 0%;
    width: 98%;
    z-index: 1;
}

.main-logo{
    height: 110px;
    width: 180px;
    background-color: rgb(5, 51, 5);
    border-color: rgb(187, 137, 12);
     border-radius: 50px; 
    border-style: solid;
    box-shadow: 5px 5px 7px #ccc;
    
}



.nav > .nav-ul{
    list-style-type: none;
      
}

.nav-ul > .nav-li{
    display: inline-block;
    color: black;
    padding: 10px;
    margin: 10px;
    transition: 0.6s;
}
.nav-ul > .nav-li > a{
    font-style: bold;
    font-size: 24px;
   text-decoration: none;
   color: rgb(0, 0, 0);
   
}

.nav-li:hover{
    /* color: green;
    border-bottom-width: 3px;
    border-bottom-color: green;
    border-bottom-style: solid; */
    background-color: rgb(235, 235, 235);
    border: black;
    border-radius: 25px;
    

}
    
i{
    margin-right: 5px;
    color: black;
    font-size: 24px;
}

.booking{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    height: 45px;
    width: 100px;
    box-shadow: 4px 4px 6px rgb(158, 155, 155);
    transition: 0.5s;

    
 }
 .booking > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font
 }

 /* .booking > a:hover{
    color: green;
 } */

 .booking:hover{
    background-color: rgb(99, 96, 96);
    border-color: rgb(99, 96, 96);
    color: green;
 }

 .option-box{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.options{
margin: 10px;
height: 70px;
width: 300px;
font-size: 18px;
border-style: solid;
border-color: black;
border-radius: 15px;
transition: 0.6s;

}

.options:hover{
    background-color: black;
    color: white; 
    
    
}

.options > b{

    margin-top: 7px;
    margin-left: 15px;
}

.options > b > i{
    margin-left: 30px;
}

.options > b > i:hover{
    color: white;
}

.fa-solid{
    margin: 0%;
}

 
/* .fa:hover{
    color: white;
} */




 .fnid-h{
    padding-top: 60px;
    font-size: 46px;
 }


 .find-p{
font-size: 26px;


 }
 .find-p1{
    font-size: 26px;
 }
.tour-search{
    /* width: 1600px;
    height: 450px; */
    min-width: 200px;
   background-image:url(https://thumbs.dreamstime.com/z/travel-tourism-poster-resort-sightseeing-symbols-flat-vector-illustration-travel-tourism-poster-135800438.jpg) ;
    background-color: rgb(231, 231, 231);
    justify-self: left;
    text-align: center;
    margin-left: 130px;
    box-shadow: 0px 0px 8px rgb(128, 126, 126);
    flex-wrap: wrap;
 } 
 
 .input{
 
    height: 60px;
    width: 40%;
    border-radius: 30px;
    margin: auto;
    justify-self: center;
    /* max-width:600px;
    min-width: 250px; */
    box-shadow: 1px 1px 4px rgb(128, 126, 126);
 }
 
.disc{
margin-left: 130px;
}


 .tour-h{
    /* background-color: black; */
    color: rgb(0, 0, 0);
   
 }

.ul-id > .li-id > a{
   
    color: black;
 
}

/* .a1234{
    display: ;
    justify-content: center;
    align-items: center;
} */

/* .sindh img {
    height: 300px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
  

}

.punjab-img{
    height: 300px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
}

.kpk-img{
    height: 300px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
} 

.bloch-img{
    height: 300px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
}

.destination-btn > a{
    text-decoration: none;
    color: black;
    
}

.destination-btn{
    height: 40px;
    width: 95px;
    background-color:rgb(8, 94, 41) ;
    color: white;
    margin-left: 400px;
    border-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgb(71, 70, 70);
    
}

.destination-btn:hover{

    background-color: white;
    color: rgb(5, 5, 5);  
} */



.planing{
   
    margin-left: 130px;
    position: relative;
    
}

.Explore{
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.plan-h{
    font-size: 55px;
}

.plan-p {
    font-size: 40px;
    color: black;
}
.exp-btn{
    height: 60px;
    width: 130px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border-color: white;
    
}

/* .exp-btn:hover{
    background-color: black;
    color: white; 

}  */

.exp-btn > h4{
    margin-top: 18px;
    font-size: 16px;
}














.pak-h{
background-color: bisque;
margin-top: 20px;
border-radius: 30px;
}

.hhhhh{
    padding-top: 10px;
}


.pak-destination{
min-height: 400px;
min-width: auto;

display: flex;
justify-content: space-around;
align-items: center;
border-radius: 20px;
flex-wrap: wrap;

}


.p-img{
    margin: 20px;
    height: 400px;
    width: 400px;
    /* border-style: solid;
    border-color: #ccc;
    border-radius: 10px; */
      
    position: relative;
}

.page-img{
    height: 330px;
    width: 400px;
    border-radius: 20px;
    transition: 0.3s;
}

.b-text{
    font-size: 40px;
    color: white;
    position: absolute;
    bottom: 120px;
    left: 20px;
}

 /* .p-img:hover{
    opacity: 85%;
    
}  */

.page-img:hover{
    opacity: 80%;
   
}

